NUXT_SESSION_PASSWORD="At least 32 characters long."
NUXT_NODEMAILER_AUTH_PASS="password for mailserver"
NUXT_NODEMAILER_AUTH_USER="spatel@example.com"
NUXT_NODEMAILER_FROM="'Spatel' <spatel@example.com>"
NUXT_NODEMAILER_HOST="mail.example.com"
NUXT_NODEMAILER_PORT=587
NUXT_NODEMAILER_SECURE=false