# Local archives
00old

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
bun.lock
server/data/recipes/*
!server/data/recipes/.gitkeep
server/data/users/*
!server/data/users/.gitkeep
server/data/user_Allow/*
!server/data/user_Allow/.gitkeep
server/data/user_Deny/*
!server/data/user_Deny/.gitkeep